/* variables */
:root{
    --grass: #38BF4B;
    --fire: #FF9741;
    --water: #3692DC;
    --electric: #f8f32b; 
    --bug: #a2ce6f;
    --grass: #6da34d;
    --poison: #7133a4;
    --normal: #eee6c5;
    --ice : #75adde;
    --rock : #f6a844;
    --ground: #f6a844;
    --dark: #555a5f;
    --fighting: #ee4141;
}

/* Normalize css*/

figure {
    margin: 0;
    display: block;
}

img {
    width: 100%;
    height: auto;
    display: flex;
}


/* Typographic */

    h1, h2, h3, h4, h5, input { 
        font-family: 'VT323', monospace;
    }

    .font_vt323{
        font-family: 'VT323', monospace;
    }


    p, span {
        font-family: 'Roboto', sans-serif;
    }

    .electric p, .electric h2, .normal p, .normal h2 {
        color: #000;
    }


/* Card Colors  */


.item-content {
    background-color: #c2c2c3;
   /* background-image: url('../img/pokemon_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%; */
}


.grass{
    background-color: var(--grass);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.bug {
    background-color: var(--bug);
}

.normal {
    background-color: var(--normal);
}

.electric {
    background-color: var(--electric);
}

.ground, .rock {
    background-color: var(--ground);
}

.poison {
    background-color: var(--poison);
}

.hada {
    background-color: var(--hada);
}

.ice {
    background-color: var(--ice);
}

.dark {
   background-color: var(--dark);
}

.fighting {
    background-color: var(--fighting);
 }

 .btnFavoriteWrap button *{
    transition:  all .4s ease-in-out;
 }

.btnFavoriteWrap button.true svg {
    fill: red;
}  



#favoritesWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    gap: .75rem
}

#favoritesWrap .item-card {
    min-height: 120px;
}

#favoritesWrap.item-wrap > :first-child{
    grid-column: 1 / 3;
}

#favoritesWrap.item-wrap .item-content__img {
     max-width: 120px;
}


/* PokeLigthBox */

#pokeLigthBox {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #0000007c;
}

